.miro-wrapper * {
	margin: 0;
	padding: 0;
}

.miro-wrapper {
  width: 500px;
  margin: 20px auto;
}

.miro-wrapper .controls {
  padding-bottom: 10px;
  overflow: hidden;
}

.miro-wrapper .controls input {
  float: left;
  margin-right: 10px;
}

.miro-wrapper canvas {
  background: #fff;
	border: 2px solid black;
	border-radius: 10px;
  cursor: pointer;
}

.miro-wrapper input[type=color] {
	height: 42px;
}

.miro-wrapper img.icon {
	margin: 0 5px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 3px;
	cursor: pointer;
}

.miro-wrapper img.icon.bin {
	float: right;
}

.miro-wrapper img.icon.selected {
	border: 2px solid black;
}
